{% extends 'base.html.twig' %}

{% block title %}Hello AddProductController!{% endblock %}

{% block body %}

    {# j'affche mon formulaire #}
    {{ form_start(AddProductFormType) }}
        {{ form_widget(AddProductFormType) }}
        <button class="btn btn-primary">Ajouter</button>
    {{ form_end(AddProductFormType) }}

{% endblock %}
